##Optimize the model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
#drop the nonbeneficial ID columns
application_df=application_df.drop(['EIN'],axis=1)

In [2]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
#look at name value counts to identify and replace with "other"
name_counts = application_df["NAME"].value_counts()

#how many counts are greater than 5
name_counts[name_counts>5]

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [4]:
#determine which values to replace if counts are less than or equal to 5
names_to_replace = list(name_counts[name_counts<=5].index)

#replace in dataframe
for app in names_to_replace:
    application_df['NAME']=application_df['NAME'].replace(app, "Other")

#check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [5]:
#look at APPLICATION_TYPE value counts to identify and replace with other
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
application_types_to_replace = list(application_counts[application_counts<500].index)

#replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE']=application_df['APPLICATION_TYPE'].replace(app, "Other")

#check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
#look at classification value counts to identify and replace with other
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
#determine which values to replace if counts are less than 1000
classes_to_replace = list(classification_counts[classification_counts<1000].index)

for cls in classes_to_replace:
    application_df['CLASSIFICATION']=application_df['CLASSIFICATION'].replace(cls, "Other")

#check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
#generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes=="object"].index.tolist()

In [10]:
application_with_dummies_df = pd.get_dummies(application_df)

In [11]:
#split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis="columns").values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

#split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=78)

In [12]:
#create a standardscaler instance
scaler = StandardScaler()

#fit the standardscaler
X_scaler = scaler.fit(X_train)

#scale the data
x_train_scaled = X_scaler.transform(X_train)
x_test_scaled = X_scaler.transform(X_test)

In [19]:
#define the model
from tensorflow import keras
from tensorflow.keras import layers
model = keras.Sequential()
#add hidden layers with more neurons and different activation functions
model.add(layers.Dense(units=128, activation='relu', input_dim=x_train_scaled.shape[1]))
model.add(layers.Dense(units=64, activation='relu'))
model.add(layers.Dense(units=32, activation='relu'))
model.add(layers.Dense(units=1, activation='sigmoid'))  # Output layer

#compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [20]:
#train the model with a higher number of epochs
history = model.fit(x_train_scaled, y_train, epochs=150, batch_size=32, validation_split=0.2)

Epoch 1/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7501 - loss: 0.5233 - val_accuracy: 0.7858 - val_loss: 0.4496
Epoch 2/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7952 - loss: 0.4317 - val_accuracy: 0.7858 - val_loss: 0.4512
Epoch 3/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7978 - loss: 0.4232 - val_accuracy: 0.7872 - val_loss: 0.4457
Epoch 4/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8037 - loss: 0.4133 - val_accuracy: 0.7879 - val_loss: 0.4525
Epoch 5/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8016 - loss: 0.4134 - val_accuracy: 0.7870 - val_loss: 0.4503
Epoch 6/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8002 - loss: 0.4174 - val_accuracy: 0.7891 - val_loss: 0.4557
Epoch 7/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8001 - loss: 0.4178 - val_accuracy: 0.7893 - val_loss: 0.4515
Epoch 8/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7990 - loss: 0.4196 - val_accuracy: 0.7913 - val_loss: 0.4510
Epoch 9/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8006 - loss: 0.4176 - val_accuracy: 0.7901 - val_loss: 0.4531
Epoch 10/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8073 - loss: 0.4084 - val_accuracy: 0.7920 - val_loss: 0.4497
Epoch 11/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8023 - loss: 0.4121 - val_accuracy: 0.7901 - val_loss: 0.4497
Epoch 12/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8081 - loss: 0.4076 - val_accuracy: 0.7909 - val_loss: 0.4534
Epoch 13/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8041 - loss: 0.4122 - val_accuracy: 0.7932 - val_loss: 0.4567
Epoch 14/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8061 - loss: 0.4125 - val_accuracy: 0.7883 - val_loss: 0.4549
Epoch 15/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8072 - loss: 0.4061 - val_accuracy: 0.7899 - val_loss: 0.4535
Epoch 16/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8056 - loss: 0.4106 - val_accuracy: 0.7913 - val_loss: 0.4577
Epoch 17/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8083 - loss: 0.4059 - val_accuracy: 0.7914 - val_loss: 0.4557
Epoch 18/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8081 - loss: 0.4034 - val_accuracy: 0.7907 - val_loss: 0.4562
Epoch 19/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8108 - loss: 0.4034 - val_accuracy: 0.7901 - val_loss: 0.4552
Epoch 20/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8130 - loss: 0.4014 - val_accuracy: 0.7903 - val_loss: 0.4642
Epoch 21/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8086 - loss: 0.3984 - val_accuracy: 0.7881 - val_loss: 0.4592
Epoch 22/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8106 - loss: 0.4015 - val_accuracy: 0.7876 - val_loss: 0.4625
Epoch 23/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8100 - loss: 0.4012 - val_accuracy: 0.7868 - val_loss: 0.4635
Epoch 24/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8122 - loss: 0.4006 - val_accuracy: 0.7897 - val_loss: 0.4624
Epoch 25/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8147 - loss: 0.3957 - val_accuracy: 0.7903 - val_loss: 0.4665
Epoch 26/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8138 - loss: 0.3962 - val_accuracy: 0.7870 - val_loss: 0.4755
Epoch 27/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8104 - loss: 0.3994 - val_accuracy: 0.7881 - val_loss: 0.4699
Epoch 28/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8133 - loss: 0.3948 - val_accuracy: 0.7887 - val_loss: 0.4725
Epoch 29/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8126 - loss: 0.3960 - val_accuracy: 0.7879 - val_loss: 0.4721
Epoch 30/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8168 - loss: 0.3953 - val_accuracy: 0.7893 - val_loss: 0.4739
Epoch 31/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8118 - loss: 0.3973 - val_accuracy: 0.7870 - val_loss: 0.4758
Epoch 32/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8113 - loss: 0.3981 - val_accuracy: 0.7885 - val_loss: 0.4892
Epoch 33/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8133 - loss: 0.3922 - val_accuracy: 0.7895 - val_loss: 0.4826
Epoch 34/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8105 - loss: 0.3976 - val_accuracy: 0.7864 - val_loss: 0.4876
Epoch 35/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8165 - loss: 0.3927 - val_accuracy: 0.7870 - val_loss: 0.4857
Epoch 36/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8178 - loss: 0.3924 - val_accuracy: 0.7901 - val_loss: 0.4990
Epoch 37/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8132 - loss: 0.3915 - val_accuracy: 0.7883 - val_loss: 0.5062
Epoch 38/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8168 - loss: 0.3909 - val_accuracy: 0.7864 - val_loss: 0.4950
Epoch 39/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8170 - loss: 0.3848 - val_accuracy: 0.7868 - val_loss: 0.4910
Epoch 40/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8223 - loss: 0.3825 - val_accuracy: 0.7889 - val_loss: 0.5020
Epoch 41/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8188 - loss: 0.3815 - val_accuracy: 0.7878 - val_loss: 0.4982
Epoch 42/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8171 - loss: 0.3855 - val_accuracy: 0.7874 - val_loss: 0.4981
Epoch 43/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8139 - loss: 0.3923 - val_accuracy: 0.7887 - val_loss: 0.5006
Epoch 44/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8194 - loss: 0.3823 - val_accuracy: 0.7843 - val_loss: 0.4968
Epoch 45/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8232 - loss: 0.3781 - val_accuracy: 0.7848 - val_loss: 0.4980
Epoch 46/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8178 - loss: 0.3835 - val_accuracy: 0.7860 - val_loss: 0.4881
Epoch 47/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8149 - loss: 0.3870 - val_accuracy: 0.7848 - val_loss: 0.5172
Epoch 48/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8173 - loss: 0.3845 - val_accuracy: 0.7848 - val_loss: 0.5063
Epoch 49/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8195 - loss: 0.3872 - val_accuracy: 0.7852 - val_loss: 0.5152
Epoch 50/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8195 - loss: 0.3778 - val_accuracy: 0.7815 - val_loss: 0.5161
Epoch 51/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8161 - loss: 0.3831 - val_accuracy: 0.7878 - val_loss: 0.5191
Epoch 52/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8213 - loss: 0.3785 - val_accuracy: 0.7825 - val_loss: 0.5265
Epoch 53/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8194 - loss: 0.3781 - val_accuracy: 0.7846 - val_loss: 0.5055
Epoch 54/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8221 - loss: 0.3805 - val_accuracy: 0.7864 - val_loss: 0.5217
Epoch 55/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8187 - loss: 0.3832 - val_accuracy: 0.7845 - val_loss: 0.5219
Epoch 56/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8167 - loss: 0.3856 - val_accuracy: 0.7866 - val_loss: 0.5235
Epoch 57/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8186 - loss: 0.3807 - val_accuracy: 0.7848 - val_loss: 0.5294
Epoch 58/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8190 - loss: 0.3811 - val_accuracy: 0.7846 - val_loss: 0.5248
Epoch 59/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8264 - loss: 0.3724 - val_accuracy: 0.7835 - val_loss: 0.5176
Epoch 60/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8208 - loss: 0.3761 - val_accuracy: 0.7831 - val_loss: 0.5284
Epoch 61/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8206 - loss: 0.3751 - val_accuracy: 0.7843 - val_loss: 0.5345
Epoch 62/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8195 - loss: 0.3779 - val_accuracy: 0.7881 - val_loss: 0.5506
Epoch 63/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8252 - loss: 0.3710 - val_accuracy: 0.7845 - val_loss: 0.5298
Epoch 64/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8245 - loss: 0.3722 - val_accuracy: 0.7846 - val_loss: 0.5451
Epoch 65/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8217 - loss: 0.3758 - val_accuracy: 0.7831 - val_loss: 0.5344
Epoch 66/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8183 - loss: 0.3807 - val_accuracy: 0.7841 - val_loss: 0.5497
Epoch 67/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8243 - loss: 0.3736 - val_accuracy: 0.7839 - val_loss: 0.5566
Epoch 68/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8158 - loss: 0.3800 - val_accuracy: 0.7860 - val_loss: 0.5433
Epoch 69/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8175 - loss: 0.3768 - val_accuracy: 0.7858 - val_loss: 0.5661
Epoch 70/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.8227 - loss: 0.3742 - val_accuracy: 0.7831 - val_loss: 0.5611
Epoch 71/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8213 - loss: 0.3762 - val_accuracy: 0.7839 - val_loss: 0.5811
Epoch 72/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8270 - loss: 0.3691 - val_accuracy: 0.7831 - val_loss: 0.5622
Epoch 73/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - accuracy: 0.8257 - loss: 0.3684 - val_accuracy: 0.7839 - val_loss: 0.5475
Epoch 74/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8220 - loss: 0.3700 - val_accuracy: 0.7841 - val_loss: 0.5667
Epoch 75/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8205 - loss: 0.3794 - val_accuracy: 0.7810 - val_loss: 0.5762
Epoch 76/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8214 - loss: 0.3727 - val_accuracy: 0.7845 - val_loss: 0.5666
Epoch 77/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8278 - loss: 0.3697 - val_accuracy: 0.7841 - val_loss: 0.5869
Epoch 78/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8281 - loss: 0.3635 - val_accuracy: 0.7841 - val_loss: 0.5626
Epoch 79/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8222 - loss: 0.3739 - val_accuracy: 0.7817 - val_loss: 0.5923
Epoch 80/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8256 - loss: 0.3675 - val_accuracy: 0.7843 - val_loss: 0.5486
Epoch 81/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8231 - loss: 0.3684 - val_accuracy: 0.7846 - val_loss: 0.5638
Epoch 82/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8195 - loss: 0.3730 - val_accuracy: 0.7848 - val_loss: 0.5813
Epoch 83/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8307 - loss: 0.3659 - val_accuracy: 0.7829 - val_loss: 0.5784
Epoch 84/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.8260 - loss: 0.3665 - val_accuracy: 0.7850 - val_loss: 0.5726
Epoch 85/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8189 - loss: 0.3735 - val_accuracy: 0.7845 - val_loss: 0.5916
Epoch 86/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8293 - loss: 0.3660 - val_accuracy: 0.7800 - val_loss: 0.5985
Epoch 87/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8255 - loss: 0.3696 - val_accuracy: 0.7831 - val_loss: 0.6009
Epoch 88/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8261 - loss: 0.3638 - val_accuracy: 0.7821 - val_loss: 0.5767
Epoch 89/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8202 - loss: 0.3748 - val_accuracy: 0.7825 - val_loss: 0.5993
Epoch 90/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8261 - loss: 0.3662 - val_accuracy: 0.7852 - val_loss: 0.5844
Epoch 91/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8257 - loss: 0.3695 - val_accuracy: 0.7825 - val_loss: 0.5932
Epoch 92/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 6s 7ms/step - accuracy: 0.8218 - loss: 0.3691 - val_accuracy: 0.7839 - val_loss: 0.5918
Epoch 93/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.8254 - loss: 0.3663 - val_accuracy: 0.7825 - val_loss: 0.6184
Epoch 94/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 6s 6ms/step - accuracy: 0.8232 - loss: 0.3704 - val_accuracy: 0.7835 - val_loss: 0.5970
Epoch 95/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8262 - loss: 0.3666 - val_accuracy: 0.7784 - val_loss: 0.5971
Epoch 96/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8321 - loss: 0.3605 - val_accuracy: 0.7815 - val_loss: 0.6078
Epoch 97/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8300 - loss: 0.3603 - val_accuracy: 0.7837 - val_loss: 0.6114
Epoch 98/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8258 - loss: 0.3678 - val_accuracy: 0.7798 - val_loss: 0.5873
Epoch 99/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8233 - loss: 0.3694 - val_accuracy: 0.7823 - val_loss: 0.6244
Epoch 100/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.8248 - loss: 0.3689 - val_accuracy: 0.7858 - val_loss: 0.6044
Epoch 101/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8291 - loss: 0.3648 - val_accuracy: 0.7823 - val_loss: 0.6079
Epoch 102/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8277 - loss: 0.3622 - val_accuracy: 0.7841 - val_loss: 0.6135
Epoch 103/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8265 - loss: 0.3653 - val_accuracy: 0.7811 - val_loss: 0.6252
Epoch 104/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8267 - loss: 0.3655 - val_accuracy: 0.7794 - val_loss: 0.6034
Epoch 105/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8278 - loss: 0.3632 - val_accuracy: 0.7819 - val_loss: 0.6022
Epoch 106/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8286 - loss: 0.3638 - val_accuracy: 0.7817 - val_loss: 0.6159
Epoch 107/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8287 - loss: 0.3582 - val_accuracy: 0.7813 - val_loss: 0.6311
Epoch 108/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8259 - loss: 0.3637 - val_accuracy: 0.7811 - val_loss: 0.6087
Epoch 109/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8286 - loss: 0.3607 - val_accuracy: 0.7813 - val_loss: 0.6345
Epoch 110/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8291 - loss: 0.3613 - val_accuracy: 0.7800 - val_loss: 0.6224
Epoch 111/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8268 - loss: 0.3624 - val_accuracy: 0.7815 - val_loss: 0.6311
Epoch 112/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.8270 - loss: 0.3632 - val_accuracy: 0.7850 - val_loss: 0.6237
Epoch 113/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8307 - loss: 0.3588 - val_accuracy: 0.7796 - val_loss: 0.6177
Epoch 114/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8226 - loss: 0.3659 - val_accuracy: 0.7815 - val_loss: 0.6318
Epoch 115/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8327 - loss: 0.3595 - val_accuracy: 0.7810 - val_loss: 0.6244
Epoch 116/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8271 - loss: 0.3643 - val_accuracy: 0.7831 - val_loss: 0.6153
Epoch 117/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8261 - loss: 0.3626 - val_accuracy: 0.7829 - val_loss: 0.6370
Epoch 118/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8293 - loss: 0.3577 - val_accuracy: 0.7800 - val_loss: 0.6375
Epoch 119/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8253 - loss: 0.3641 - val_accuracy: 0.7823 - val_loss: 0.6228
Epoch 120/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8223 - loss: 0.3617 - val_accuracy: 0.7833 - val_loss: 0.6310
Epoch 121/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8313 - loss: 0.3567 - val_accuracy: 0.7808 - val_loss: 0.6337
Epoch 122/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.8290 - loss: 0.3598 - val_accuracy: 0.7813 - val_loss: 0.6386
Epoch 123/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.8296 - loss: 0.3611 - val_accuracy: 0.7817 - val_loss: 0.6539
Epoch 124/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8303 - loss: 0.3595 - val_accuracy: 0.7825 - val_loss: 0.6147
Epoch 125/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8285 - loss: 0.3629 - val_accuracy: 0.7794 - val_loss: 0.6360
Epoch 126/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8293 - loss: 0.3569 - val_accuracy: 0.7841 - val_loss: 0.6203
Epoch 127/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8253 - loss: 0.3621 - val_accuracy: 0.7837 - val_loss: 0.6470
Epoch 128/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8303 - loss: 0.3599 - val_accuracy: 0.7825 - val_loss: 0.6466
Epoch 129/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8261 - loss: 0.3621 - val_accuracy: 0.7833 - val_loss: 0.6372
Epoch 130/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8283 - loss: 0.3640 - val_accuracy: 0.7833 - val_loss: 0.6536
Epoch 131/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8268 - loss: 0.3614 - val_accuracy: 0.7837 - val_loss: 0.6619
Epoch 132/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8273 - loss: 0.3595 - val_accuracy: 0.7864 - val_loss: 0.6660
Epoch 133/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8299 - loss: 0.3576 - val_accuracy: 0.7813 - val_loss: 0.6503
Epoch 134/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8246 - loss: 0.3647 - val_accuracy: 0.7817 - val_loss: 0.6675
Epoch 135/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8290 - loss: 0.3588 - val_accuracy: 0.7817 - val_loss: 0.6676
Epoch 136/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8310 - loss: 0.3584 - val_accuracy: 0.7833 - val_loss: 0.6449
Epoch 137/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.8257 - loss: 0.3640 - val_accuracy: 0.7792 - val_loss: 0.6695
Epoch 138/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8258 - loss: 0.3622 - val_accuracy: 0.7810 - val_loss: 0.6483
Epoch 139/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8303 - loss: 0.3579 - val_accuracy: 0.7843 - val_loss: 0.6669
Epoch 140/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8345 - loss: 0.3516 - val_accuracy: 0.7819 - val_loss: 0.6314
Epoch 141/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8247 - loss: 0.3630 - val_accuracy: 0.7837 - val_loss: 0.6599
Epoch 142/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8286 - loss: 0.3607 - val_accuracy: 0.7823 - val_loss: 0.6559
Epoch 143/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8312 - loss: 0.3614 - val_accuracy: 0.7806 - val_loss: 0.6581
Epoch 144/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8316 - loss: 0.3575 - val_accuracy: 0.7804 - val_loss: 0.6443
Epoch 145/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.8277 - loss: 0.3587 - val_accuracy: 0.7827 - val_loss: 0.6595
Epoch 146/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8330 - loss: 0.3546 - val_accuracy: 0.7819 - val_loss: 0.6356
Epoch 147/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8286 - loss: 0.3558 - val_accuracy: 0.7794 - val_loss: 0.6847
Epoch 148/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8333 - loss: 0.3520 - val_accuracy: 0.7843 - val_loss: 0.6530
Epoch 149/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8265 - loss: 0.3639 - val_accuracy: 0.7821 - val_loss: 0.6503
Epoch 150/150
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8268 - loss: 0.3599 - val_accuracy: 0.7817 - val_loss: 0.6959

In [22]:
#evaluate the model on the test dataset
test_loss, test_accuracy = model.evaluate(x_test_scaled, y_test)
print(f'Test Accuracy: {test_accuracy:.2f}')

268/268 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.7894 - loss: 0.5979
Test Accuracy: 0.79

In [23]:
model.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.